/* Body & page styling */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main h1 styling */
h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0 10px 0;
  color: #f2f8f8;
  text-shadow: 0 0 20px #df8e0a, 0 0 20px #9fe30a, 0 0 30px #e8a005;
}

/* Typing headline style (single color) */
.title {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0 40px 0;
  letter-spacing: 2px;
  color: #f3d825;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
}

/* Grid container for cards */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: center;
  gap: 30px;
  width: 90%;
  margin: 0 auto;
  flex-grow: 1; /* allow container to grow */
  align-items: center; /* center vertically if space available */
}

/* Card styling */
.card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 20px 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.card a {
  text-decoration: none; /* removes underline from all links inside cards */
  color: inherit;
}


.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0px 0px 25px rgba(0, 255, 255, 0.7);
  border-color: cyan;
}

.card img {
  width: 100%;
  height: 160px;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.4s;
}

.card:hover img {
  transform: scale(1.1);
}

.card p {
  margin-top: 12px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #00f7ff, #00f7ff);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
}

/* Footer styling */
footer {
  font-size: 15px;
  font-style: italic;
  color: #ffe600;
  background: rgba(0, 0, 0, 0.8);
  padding: 12px;
  border-top: 2px solid cyan;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.8);
  width: 100%;
  text-align: center;
  margin-top: auto; /* sticks footer to bottom */
}
